<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h2>REST API >> Node | Express | MongoDB</h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">View API Data</a></li>
        <li><a href="#">LOG IN</a></li>
      </ul>
    </header>
    <div>
      <form action="/api-data" method="POST" type="submit">
        <input type="text" name="firstName" placeholder="First Name" />
        <br />
        <input type="text" name="lastName" placeholder="Last Name" />
        <br />
        <input type="email" name="emailId" placeholder="Email ID" />
        <br />
        <!-- <input type="password" name="password" /> -->
        <button type="submit">Add User</button>
      </form>
    </div>
  </body>
</html>
