* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

header {
  background-color: rgb(28, 35, 77);
  color: white;
  height: 10vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}

a,
a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(168, 168, 168);
}

header ul li {
  display: inline-block;
  margin: 5px 10px;
  padding: 5px 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: rgb(202, 135, 27);
  color: white;
}
